<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header" (click)="setTitle('Home - @SharedResources.AppName')">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a routerLink="/home" routerLinkActive="active" class="navbar-brand">@SharedResources.AppName</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="nav-link" (click)="setTitle('Home - @SharedResources.AppName')" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li>
                    <a class="nav-link" (click)="setTitle('Machines - @SharedResources.AppName')" routerLink="/machines">Machines</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">

    <router-outlet></router-outlet>

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - @SharedResources.AppName</p>
    </footer>
</div>